<?xml version="1.0"?>
<launch>
  <arg name="dir_name" default="/config/maps"/>
  <arg name="can_del_wp" default="true"/>
  <arg name="localization_map_name" default="map"/>
  <arg name="keepout_map_name" default="keepout" />
  
  <include file="$(find seed_r7_navigation)/launch/wheel_with_static_map.launch">
    <arg name="RUN_BRINGUP" default="false" />
    <arg name="map_localization_file" value="$(find task_programmer)$(arg dir_name)/$(arg localization_map_name).yaml"/>
    <arg name="map_keepout_file" value="$(find task_programmer)$(arg dir_name)/$(arg keepout_map_name).yaml"/>
    <arg name="cmd_vel_topic" value="move_base/cmd_vel"/>
  </include>

  <node pkg="dynamic_reconfigure" name="wp_editor_set_param"  type="dynparam" args="set_from_parameters waypoints_editor">
    <param name="dir_name" type="str" value="$(arg dir_name)" />
    <param name="enable_del" type="bool" value="$(arg can_del_wp)" />
  </node>

</launch>
